
    
  #submit-button{
     padding: 1 rem 2 rem;
     font-size: 1.2rem ;
     background-color: antiquewhite;
     color: aqua;
     border: 0cqb;
     border-radius: 5px;
     cursor: pointer; 
     box-shadow: 0px 0px 10px rgba(0,0, 0,0.405);
  }



     #input-text{
      padding : 1rem;
     margin-bottom: 1rem;
     width: 100%;
     border: none; 
     border-radius :5px;
      box-shadow:0px 0px 10px rgba(255, 255, 255, 0.405) ;
    }

      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }

      
 

      body {
        background-image: url('https://www.analyticsinsight.net/wp-content/uploads/2023/04/Digital.ai-unveils-the-latest-version-of-AI-enhanced-DevOps-product-.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:  100%;
      }
   
    


      button#submit-button {
        background-color: #009688;
        color: #ffffff;
        font-size: 16px;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s ease;
      }
      
      button#submit-button:hover {
        background-color: #00796b;
      }




     
  